{% extends 'layout/base.html' %}

{% block userInfo %}
<div class="fly-home fly-panel" style="background-image: url();">
  <img src="{{user.avatar}}" alt="{{user.username}}">
  <h1>
    {{user.username}}
    {% if user.sex == 'male' %}
    <i class="iconfont icon-nan"></i>
    {% else %}
    <i class="iconfont icon-nv"></i>
    {% endif %}
  </h1>

  <p class="fly-home-info">
    <span style="color: #FF7200;">财富 {{user.jifen}}</span>
    <i class="iconfont icon-shijian"></i><span>{{user.date_joined}} 加入</span>
  </p>

  <p class="fly-home-sign">{{user.qianming}}</p>

  {% if user.id == request.user.id %}
  <a href="{% url 'postAdd' %}" style="margin-top: 15px;" class="layui-btn layui-btn-primary fly-imActive"
    data-type="addFriend">写点东西</a>
  {% endif %}
</div>

{% endblock %}

{% block right_content %}
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title">{{user.username}} 最近的文章</h3>
        <ul id='user_article' class="jie-row">
          <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div> -->
        </ul>
      </div>
    </div>

    <div class="layui-col-md6 fly-home-da">
      <div class="fly-panel">
        <h3 class="fly-panel-title">{{user.username}} 最近参与的评论</h3>
        <ul id='user_comment' class="home-jieda">

          <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div> -->
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  layui.use(['jquery'], function () {
    var $ = layui.jquery
    $.ajax({
      url: 'article',
      method: 'get',
      data: {userid:"{{user.id}}"},
      dataType: 'JSON',
      success: function (res) {
        if (res.code == 200) {
          if (res.data.length > 0) {
            $.each(res.data, function (index, value) {
              var str = '<li><a href="/detail/' + value.id + '" class="jie-title">' + value.title + '</a><i>' + value.time + '</i><em class="layui-hide-xs">' + value.comm_num + '条评论</em></li>'
              $('#user_article').append(str)
            })
          } else {
            $('#user_article').append('<div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没写任何东西</span></div>')
          }
        }
      }
    });

    $.ajax({
      url: 'comment',
      method: 'get',
      data: {userid:"{{user.id}}"},
      dataType: 'JSON',
      success: function (res) {
        if (res.code == 200) {
          if (res.data.length > 0) {
            $.each(res.data, function (index, value) {
              var str = '<li><p><span>'+value.time+'</span>在<a href="/detail/'+value.article_id+'" target="_blank">'+value.article_title+'</a>参与评论</p></li>'
              $('#user_comment').append(str)
            })
          } else {
            $('#user_comment').append('<div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有参与任何评论</span></div>')
          }
        }
      }
    });

  });

  
</script>
{% endblock %}