{% extends 'layout/base.html' %}
{% load static %}
{% block right_content %}
<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">写点东西</li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">

          <div class="layui-tab-item layui-show">
            <form class="layui-form" action="#">
              {% csrf_token %}
              <div class="layui-row layui-col-space15 layui-form-item">
                <div class="layui-col-md5">
                  <label class="layui-form-label">所在专栏</label>
                  <div class="layui-input-block">
                    <select lay-verify="required"  name="category" lay-filter="column">
                      <option></option>
                      {% for i in cate %}
                      <option value="{{i.id}}">《{{i.name}}》</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="layui-col-md7">
                  <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_title" maxlength="25" name="title" required lay-verify="required"
                      autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <textarea id="content" name="content" required lay-verify="required"
                    style="display: none;"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="add" lay-submit>立即发布</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'index/js/add.js' %}"></script>
{% endblock%}