{% extends 'layout/base.html'%}

{% load static %}

<!-- 右边内容 -->
{% block right_content%}

<div class="layui-container" style="margin-top: 20px;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">

      <div class="fly-panel" style="margin-bottom: 0;">

        <div class="fly-panel-title fly-filter">
          <text class='layui-this'>精彩的在这里...</text>
        </div>

        <ul class="fly-list">
          {% for i in article %}
          <li>
            <a href="/account/u/{{i.user.id}}" class="fly-avatar">
              <img src="{{i.user.avatar}}" alt="贤心">
            </a>
            <h2>
              {% if i.is_top > 0 %}
              <a class="layui-badge">置顶</a>
              {% endif %}
              <a href="/detail/{{i.id}}">
                {{i.title}}
              </a>
            </h2>
            <div class="fly-list-info">
              <a href="/account/u/{{i.user.id}}" link>
                <cite>{{i.user.username}}</cite>
                <!-- <i class="layui-badge fly-badge-vip">{{i.user.jifen}}</i> -->
              </a>
              <span>{{i.createTime}}</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> {{i.comm_num}}
              </span>
            </div>
            <div class="fly-list-badge">
              <span class="layui-badge-rim"><a href="?category={{i.category_id}}"
                  class='layui-this'>{{i.category}}</a></span>
            </div>
          </li>
          {% endfor %}

          {% if not article %}
          <div style="text-align: center;color:grey;padding-top: 20px;">暂无内容~</div>
          {% endif %}
        </ul>
        <div style="text-align: center">
          <div style="padding: 20px 0; font-size: 17px;">
            {% if page.has_previous %}
            <a href="/?page={{ page.previous_page_number }}">上一页</a>
            {% endif %}

            {% if page.has_next %}
            <a class="laypage-next" href="/?page={{ page.next_page_number }}">下一页</a>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
    {% endblock %}

    <!-- 左边内容 -->
    {% block left_content %}
    <div class="layui-col-md4">
      <div class="fly-panel">
        <div class="fly-panel-main">
          <p>{{request.web.welcome}}</p>
        </div>
      </div>
      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">最近登陆</h3>
        <dl id='rich_rank'>
          {% for value in login %}
          <dd><a href="account/u/{{value.id}}"><img src="{{value.avatar}}"><i>{{value.username}}</i></a></dd>
          {% endfor %}
        </dl>
      </div>

      <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">书籍列表</h3>
        <dl class="fly-panel-main">
          <dd><a href="/">所有书籍</a></dd>
          {% for i in cate %}
          <dd><a href="?category={{i.id}}">{{i.name}}</a>
          <dd>
            {% endfor %}

            {% if not cate %}
            <text style="color: grey;">暂无~</text>
            {% endif %}
        </dl>
      </div>

      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">书籍热读榜</dt>
        {% for i in hot %}
        <dd>
          <a href="?category={{i.id}}">有{{i.post_num}}篇关于《{{i.name}}》的文章</a>
        </dd>
        {% endfor %}
      </dl>

      <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl class="fly-panel-main">
          {% for i in fineurl %}
          <dd><a href="{{i.linkurl}}" target="_blank">{{i.linkname}}</a>
          <dd>
            {% endfor %}

            {% if not fineurl %}
            <text style="color: grey;">暂无~</text>
            {% endif %}
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}