{% extends 'layout/base.html'%}

{% load static %}

<!-- 右边内容 -->
{% block right_content%}

<div class="layui-container" style="margin-top: 20px;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">

      <div class="fly-panel" style="margin-bottom: 0;">

        <div class="fly-panel-title fly-filter">
          {% if category_id == 0 %}
          <a href="?category=0" class='layui-this'>综合</a>
          <span class="fly-mid"></span>
          {% else %}
          <a href="?category=0">综合</a>
          <span class="fly-mid"></span>
          {% endif %}

          {% for i in cate %}
          {% if i.categoryId == category_id %}
          <a href="?category={{i.categoryId}}" class='layui-this'>{{i.name}}</a>
          <span class="fly-mid"></span>
          {% else %}
          <a href="?category={{i.categoryId}}">{{i.name}}</a>
          <span class="fly-mid"></span>
          {% endif %}
          {% endfor %}
        </div>

        <ul class="fly-list">
          {% for i in art %}
          <li>
            <a href="/account/u/{{i.user.id}}" class="fly-avatar">
              <img src="{{i.user.avatar}}" alt="贤心">
            </a>
            <h2>
              <a href="/detail/{{i.id}}">
                {{i.title}}
              </a>
            </h2>
            <div class="fly-list-info">
              <a href="/account/u/{{i.user.id}}" link>
                <cite>{{i.user.username}}</cite>
                <!-- <i class="layui-badge fly-badge-vip">{{i.user.level}}</i> -->
              </a>
              <span>{{i.createTime}}</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> {{i.comm_num}}
              </span>
            </div>
          </li>
          {% endfor %}

          {% if not art %}
          <div style="text-align: center;color:grey;padding-top: 20px;">暂无内容~</div>
          {% endif %}
        </ul>
        <div style="text-align: center">
          <div style="padding: 20px 0; font-size: 17px;">
            {% if page.has_previous %}
            <a href="/?page={{ page.previous_page_number }}">上一页</a>
            {% endif %}

            {% if page.has_next %}
            <a class="laypage-next" href="/?page={{ page.next_page_number }}">下一页</a>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
    {% endblock %}

    <!-- 左边内容 -->
    {% block left_content %}
    <div class="layui-col-md4">
    	<div class="fly-panel">
        	<div class="fly-panel-main">
        		<p>欢迎来到【X社区】~</p>
        	</div>
      </div>
      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">最近登陆</h3>
        <dl id='rich_rank'>
          {% for value in rich %}
          <dd><a href="account/u/{{value.id}}"><img
                src="{{value.avatar}}"><i>{{value.username}}</i></a></dd>
          {% endfor %}
        </dl>

      </div>
      <div class="fly-panel">
        <div class="fly-panel-title">
           温馨提示 
        </div>
        <div class="fly-panel-main">
            <p>文章可【删除/编辑/评论】</p>
            <br>
            <p>发布一篇文章获得5个财富值！</p>
            <br>
            <p>删除一篇文章扣除20个财富值！</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}