{% load static %}

<head>
  <meta charset="utf-8">
  {% if detail.title %}
  <title>{{detail.title}}</title>
  {% else %}
  <title>{{request.web.webtitle}}</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="蔓枝阅读记笔记">
  <meta name="description" content="蔓枝阅读记笔记，培养更好的自己">
  <link rel="shortcut icon" href="{%static 'images/favicon.ico'  %}" />
  <link rel="stylesheet" href="{% static 'index/layui/css/layui.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/global.css' %}">
</head>